<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906981306800-3lor1fpa4k4stgaq6q5h87tn541ja3kl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906981306800-3lor1fpa4k4stgaq6q5h87tn541ja3kl</string>
	<key>API_KEY</key>
	<string>AIzaSyANQnXI_VHOj1BWtm_u70w6bzTgEt6eDrw</string>
	<key>GCM_SENDER_ID</key>
	<string>906981306800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-31e58</string>
	<key>STORAGE_BUCKET</key>
	<string>test-31e58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906981306800:ios:0c65094ef3aed59b1d2675</string>
</dict>
</plist>